@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Code+Pro:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background: radial-gradient(
    at top left,
    rgba(146, 43, 225, 1) 0%,
    rgba(43, 9, 107, 1) 100%
  );
  background-repeat: no-repeat;
}
/* * {
  box-sizing: border-box;
} */
code {
  font-family: 'Source Code Pro';
  color: #87819e;
  word-break: break-all;
  width: 100%;
  display: block;
  white-space: break-spaces;
}

p,
li {
  font-size: 0.75rem;
}

@media (min-width: 336px) {
  code {
    font-size: 11px;
  }
}

@media (min-width: 536px) {
  code {
    font-size: 12px;
  }
  md: text-base text-sm;
}
@media (min-width: 1136px) {
  p,
  li {
    font-size: 1rem;
  }
  h1 {
    font-size: 2em;
    font-weight: bold;
  }
  h2 {
    font-size: 1.75em;
    font-weight: bold;
  }
  h3 {
    font-size: 1.5em;
    font-weight: bold;
  }
  code {
    font-size: 14px;
  }
}
pre {
  word-break: break-all;
  width: 100%;
}

h1,
h2,
h3 {
  color: #ae81ff;
  font-family: 'Inter';
}

button:disabled {
  cursor: not-allowed;
  color: #888;
}

.main-title {
  color: transparent;
  font-family: 'Source Code Pro';
  text-shadow: 1px 1px 1px #f3f4f5, 0 0 0 #121212;
}

.tags {
  font-family: 'Source Code Pro';
}

.search-input {
  font-family: 'Source Code Pro';
}
