@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Code+Pro:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background: radial-gradient(
    at top left,
    rgba(146, 43, 225, 1) 0%,
    rgba(43, 9, 107, 1) 100%
  );
  background-repeat: no-repeat;
}
/* * {
  box-sizing: border-box;
} */
code {
  font-family: 'Source Code Pro';
  color: #87819e;
  font-size: 14px;
}

h1,
h2,
h3 {
  color: #ae81ff;
  font-family: 'Inter';
}

h1 {
  font-size: 3em;
  font-weight: bold;
}
h2 {
  font-size: 2em;
  font-weight: bold;
}
h3 {
  font-size: 1em;
  font-weight: bold;
}

button:disabled {
  cursor: not-allowed;
  color: #888;
}

.main-title {
  color: transparent;
  font-family: 'Source Code Pro';
  text-shadow: 1px 1px 1px #f3f4f5, 0 0 0 #121212;
}

.tags {
  font-family: 'Hack';
}

.search-input {
  font-family: 'Source Code Pro';
}
