@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Share+Tech+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter';
}

code {
  font-family: 'Share Tech Mono';
  color: #87819e;
  word-break: break-all;
  width: 100%;
  display: block;
  white-space: break-spaces;
}

p,
li {
  font-size: 0.75rem;
}

@media (min-width: 336px) {
  code {
    font-size: 11px;
  }
}

@media (min-width: 536px) {
  code {
    font-size: 12px;
  }
  md: text-base text-sm;
}

@media (min-width: 1136px) {
  p,
  li {
    font-size: 1rem;
  }
  h1 {
    font-size: 2em;
    font-weight: bold;
  }
  h2 {
    font-size: 1.75em;
    font-weight: bold;
  }
  h3 {
    font-size: 1.5em;
    font-weight: bold;
  }
  code {
    font-size: 16px;
  }
}

h1,
h2,
h3 {
  color: #ae81ff;
  background-color: #121212;
  text-align: left;
  display: inline-flex;
  padding: 5px 10px;
}

button:disabled {
  cursor: not-allowed;
  color: #888;
}

.main-title {
  /* color: rgb(30 58 138); */
  font-family: 'Share Tech Mono';

  /* text-shadow: 2px 2px 4px #d3e4f5, 2px 2px 2px #e3d4e5; */
}

.tags {
  font-family: 'Share Tech Mono';
  padding: 40px;
  border-bottom: 1px dashed #87819e;
}

.tags-in-note {
  font-family: 'Share Tech Mono';
}

.search-input {
  font-family: 'Share Tech Mono';
}
